.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #5f00d4;
}

h1 {
  margin: 30px;
  font-family: 'Comic Sans MS', cursive;
  text-shadow: 5px 0 rgb(255, 156, 250);
  font-size: 8rem;
  color:#ff00d4;
}

p {
  font-size: 2rem;
  color: #ffe5d5;
  font-family: 'Comic Sans MS', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
